<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">{{category_param}}</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-md-2 list-group"><div ng-repeat="category in categories">
            <div class="" >
                <a href="/?category={{category._id}}" class='list-group-item inactive'
                   ng-class="{'list-group-item active': category_param == category._id}">
                    {{category._id}}
                    <span class="badge">
                    {{category.num}}
                    </span>
                </a>
            </div></div>
        </div>
        
        
        <!--main content of product display starts here-->
        <div class="col-md-10">
                <!-- Project One -->
                <div class="row" ng-repeat='item in items'>
                    <div class="col-md-7">
                        <a ui-sref="item({itemId: item._id})">
                            <img class="img-responsive" src="/static/{{item.img_url}}" alt="">
                        </a>
                    </div>
                    <div class="col-md-5">
                        <h3><a ui-sref="item({itemId: item._id})">{{item.title}}</a></h3>
                        <h4>{{item.slogan}}</h4>
                        <p>{{item.description}}</p>
                        <a class="btn btn-primary" ui-sref="item({itemId: item._id})">View Product <span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                    <!--<a ui-sref="home.item({itemId: item._id})"> test </a>-->
                </div>
                <!-- /.row -->

                <hr>
        </div>
        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <!-- Show page numbers for pagination -->
                    <div ng-hide='useRangeBasedPagination'>
                        <div ng-repeat='i in pages'>
                               <a href="/?page={{i}}&category={{category_param}}" class='inactive'
                   ng-class="{'active': page == i}">{{i + 1}}</a>
                   
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <!--main content of product display ends here-->
        
    </div>
    <div ui-view></div>
</div>
